In [1]:
from IPython.display import display_html
from estnltk.visualisation.core import format_tag_attributes 
from estnltk.visualisation.core import header_cell,value_cell, dropdown_cell
from collections import OrderedDict

## Tests for format_tag_attributes

In [2]:
print(format_tag_attributes({}))
print(format_tag_attributes({'id':6}))
print(format_tag_attributes({'id':6, 'class': 'syntax_choice'}))
print(format_tag_attributes({'id':6, 'class': '<td>'}))

id="6"
id="6" class="syntax_choice"
id="6" class="<td>"

## Test header_cell

In [9]:
print(header_cell("boo"))
print(header_cell("</th>"))

<th>boo</th>
<th>&lt;/th&gt;</th>

## Test value_cell

In [10]:
print(value_cell(None))
print(value_cell('abd'))
print(value_cell(1/2))
print(value_cell([1,2,4]))
print(value_cell(['a', 'b', 'c']))
print(value_cell(OrderedDict([('indic', ''), ('pres', ''), ('ps3', ''), ('sg', '')])))
print(value_cell("<td>"))

<td></td>
<td>abd</td>
<td>0.5</td>
<td>1 2 4</td>
<td>a b c</td>
<td>indic pres ps3 sg</td>
<td>&lt;td&gt;</td>

## Test dropdown_cell

In [11]:
print("".join(dropdown_cell([])))

ValueError: values list cannot be empty

In [12]:
values = [(1, 'a'), (2, 'b'), (3, 'c')]
print("".join(dropdown_cell(values)))
print("".join(dropdown_cell(values, 1)))
print("".join(dropdown_cell(values, 2)))
print("".join(dropdown_cell(values, 3)))

<td>
<select>
<option value="1">a</option>
<option value="2">b</option>
<option value="3">c</option>
</select>
</td>
<td>
<select>
<option value="2">b</option>
<option value="1">a</option>
<option value="3">c</option>
</select>
</td>
<td>
<select>
<option value="3">c</option>
<option value="1">a</option>
<option value="2">b</option>
</select>
</td>
<td>
<select>
<option value="1">a</option>
<option value="2">b</option>
<option value="3">c</option>
</select>
</td>

In [13]:
print("".join(dropdown_cell([(1, '</option>')])))

<td>
<select>
<option value="1">&lt;/option&gt;</option>
</select>
</td>

In [14]:
print("".join(dropdown_cell(values, 0, 'class="syntax_choice"')))
print("".join(dropdown_cell(values, 0, 'class="syntax_choice" id="5"')))

<td>
<select class="syntax_choice">
<option value="1">a</option>
<option value="2">b</option>
<option value="3">c</option>
</select>
</td>
<td>
<select class="syntax_choice" id="5">
<option value="1">a</option>
<option value="2">b</option>
<option value="3">c</option>
</select>
</td>

In [15]:
display_html(
    "<table><tr>\n" + "".join(dropdown_cell(values, 2, 'class="syntax_choice" id="5"')) + "\n</tr></table>", raw=True)