In [1]:
from estnltk import Text

#from estnltk.taggers.raw_text_tagging.date_tagger.date_tagger import DateTagger
#from estnltk.taggers import DateTagger
from pandas import read_csv
from estnltk.taggers import RegexTagger

from estnltk.spans import Span, SpanList
from estnltk.layer import Layer

In [2]:
vocabulary = 'regexes.csv'

In [3]:
vocabulary = read_csv(vocabulary, na_filter=False, index_col=False)

In [4]:
d = vocabulary[26:27]
n = vocabulary[13:14]

In [5]:
import pandas as pd

In [6]:
result = pd.concat([d, n])

In [7]:
result

,_regex_pattern_,_group_,_priority_,regex_type,value,grammar_symbol
26,(?P<LONGYEAR>((19[0-9]{2})|(20[0-9]{2}))),0,0,date9,partial_date,DATE
13,"([0-9])+(\s?[,.]\s?[0-9]+)?",0,1,number1,whatever,NUMBER

In [8]:
test_regex_tagger2 = RegexTagger(vocabulary=result,
                                 attributes=['regex_type', 'value', 'grammar_symbol'],
                                 overlapped=True,
                                 conflict_resolving_strategy='MAX',
                                 layer_name='type')

In [9]:
t4 = '2010. 3'

In [10]:
t5 = '2010.  3'

In [11]:
text = Text(t4)
test_regex_tagger2.tag(text)

In [12]:
text.type

SL[Span(2010, {'grammar_symbol': 'DATE', 'regex_type': 'date9', 'value': 'partial_date'}),
Span(3, {'grammar_symbol': 'NUMBER', 'regex_type': 'number1', 'value': 'whatever'})]

In [13]:
text = Text(t5)
test_regex_tagger2.tag(text)

In [14]:
text.type

SL[Span(2010, {'grammar_symbol': 'DATE', 'regex_type': 'date9', 'value': 'partial_date'}),
Span(3, {'grammar_symbol': 'NUMBER', 'regex_type': 'number1', 'value': 'whatever'})]

In [15]:
text = Text('2010. 3')
regex_tagger = RegexTagger(vocabulary=result,
                           attributes=['regex_type', 'value', 'grammar_symbol'],
                           overlapped=True,
                           conflict_resolving_strategy='ALL',
                           layer_name='type')
regex_tagger.tag(text)
text.type

SL[Span(2010, {'grammar_symbol': 'DATE', 'regex_type': 'date9', 'value': 'partial_date'}),
Span(3, {'grammar_symbol': 'NUMBER', 'regex_type': 'number1', 'value': 'whatever'})]

In [16]:
result

,_regex_pattern_,_group_,_priority_,regex_type,value,grammar_symbol
26,(?P<LONGYEAR>((19[0-9]{2})|(20[0-9]{2}))),0,0,date9,partial_date,DATE
13,"([0-9])+(\s?[,.]\s?[0-9]+)?",0,1,number1,whatever,NUMBER

In [17]:
regex_tagger

RegexTagger(conflict_resolving_strategy=ALL, overlapped=True)

In [18]:
result['_priority_']=[0,0]
result

,_regex_pattern_,_group_,_priority_,regex_type,value,grammar_symbol
26,(?P<LONGYEAR>((19[0-9]{2})|(20[0-9]{2}))),0,0,date9,partial_date,DATE
13,"([0-9])+(\s?[,.]\s?[0-9]+)?",0,0,number1,whatever,NUMBER