# <span style="color:purple"> Information extraction: Addresses </span>

## AddressTagger

**AddressTagger** allows us to tag addresses on a **Text** object and extract the street name, house number, zip code, town, and county from the text.

## Usage

The easiest way to use **AddressTagger** is via default resolver, which provides all the necessary preprocessing:

In [1]:
from estnltk import Text

text = Text('Muuseumi postiaadress on Muuseumi tee 2, Tartu 60532.')

text.tag_layer('addresses')

text.addresses

Layer(name='addresses', attributes=('grammar_symbol', 'TÄNAV', 'MAJA', 'ASULA', 'MAAKOND', 'INDEKS'), spans=SL[EnvelopingSpan(['Muuseumi tee', '2', 'Tartu', '60532'], [{'grammar_symbol': 'ADDRESS', 'TÄNAV': 'Muuseumi tee', 'MAJA': '2', 'ASULA': 'Tartu', 'MAAKOND': '', 'INDEKS': '60532'}])])

## Usage as a tagger

In [2]:
from estnltk.taggers import AddressPartTagger, AddressGrammarTagger
from estnltk import Text

Tagging addresses is done in two steps: first, the parts are tagged with **AddressPartTagger**, then the parts are joined into addresses with **AddressGrammarTagger**.

In [3]:
part_tagger = AddressPartTagger()

In [4]:
grammar_tagger = AddressGrammarTagger()

To tag addresses, the text needs to be segmented into words:

In [5]:
t = Text('Rävala 5, Tallinn').tag_layer('words')

In [6]:
part_tagger.tag(t)

Text(text='Rävala 5, Tallinn')

In [7]:
grammar_tagger.tag(t)

Text(text='Rävala 5, Tallinn')

In [8]:
t.addresses

Layer(name='addresses', attributes=('grammar_symbol', 'TÄNAV', 'MAJA', 'ASULA', 'MAAKOND', 'INDEKS'), spans=SL[EnvelopingSpan(['Rävala', '5', 'Tallinn'], [{'grammar_symbol': 'ADDRESS', 'TÄNAV': 'Rävala', 'MAJA': '5', 'ASULA': 'Tallinn', 'MAAKOND': '', 'INDEKS': ''}])])

In [9]:
t.TÄNAV

AmbiguousAttributeList([['Rävala']], ('TÄNAV',))

In [10]:
t.MAJA

AmbiguousAttributeList([['5']], ('MAJA',))

In [11]:
t.ASULA

AmbiguousAttributeList([['Tallinn']], ('ASULA',))