In [1]:
from estnltk.taggers import DateTagger
from estnltk import Text

In [2]:
datetagger = DateTagger()

In [3]:
text = Text('''07.07.2011 14:25 - KOLK, REIN - D04946 - E170 - kardioloogia. 
Tuleb 28.05., enne KTG.
pt.-l 2007a.-l diagnoositud sügatõbi:',
'11.09.13. tehtud S.Rhesonatiivi 1250TÜ i/m',
'Eelmine kord 2009 ja diagnoosika jäi reaktiivne artropaatia',
            'haava revideerimine od kl 21.20',
' 17.09.2013.a. kell 06:09 sünnib elus ajaline T 3250/50.',
'Kontrolli 20.04.2013 kell 11.00 I-korrus, 
'Lõikus 4.1.2013.',
'Kontrollile- 09.2011'
"05.09.2012 tehtud SKG
1.09 angiograafia leid 
02.09 kell 09.15 taastus siinusrütm''')

In [4]:
datetagger.tag(text)

Text(text='07.07.2011 14:25 - KOLK, REIN - D04946 - E170 - kardioloogia. \nTuleb 28.05., enne KTG.\npt.-l 2007a.-l diagnoositud sügatõbi:\',\n\'11.09.13. tehtud S.Rhesonatiivi 1250TÜ i/m\',\n\'Eelmine kord 2009 ja diagnoosika jäi reaktiivne artropaatia\',\n            \'haava revideerimine od kl 21.20\',\n\' 17.09.2013.a. kell 06:09 sünnib elus ajaline T 3250/50.\',\n\'Kontrolli 20.04.2013 kell 11.00 I-korrus, \n\'Lõikus 4.1.2013.\',\n\'Kontrollile- 09.2011\'\n"05.09.2012 tehtud SKG\n1.09 angiograafia leid \n02.09 kell 09.15 taastus siinusrütm')

In [5]:
text['dates']['text','date_text','type','probability', 'extracted_values']

AttributeTupleList([['07.07.2011 14:25', '07.07.2011 14:25', 'date_time', '0.9', datetime.datetime(2011, 7, 7, 14, 25)], ['28.05', '28.05', 'partial_date', '0.3', None], ['2007a', '2007a', 'partial_date', '0.8', None], ['11.09.13', '11.09.13', 'date', '0.8', datetime.date(2013, 9, 11)], ['2009', '2009', 'partial_date', '0.4', None], ['kl 21.20', 'kl 21.20', 'time', '1.0', datetime.time(21, 20)], ['17.09.2013.a. kell 06:09', '17.09.2013.a. kell 06:09', 'date_time', '1.0', datetime.datetime(2013, 9, 17, 6, 9)], ['20.04.2013 kell 11.00', '20.04.2013 kell 11.00', 'date_time', '1.0', datetime.datetime(2013, 4, 20, 11, 0)], ['4.1.2013', '4.1.2013', 'date', '0.8', datetime.date(2013, 1, 4)], ['09.2011', '09.2011', 'partial_date', '0.6', None], ['05.09.2012', '05.09.2012', 'date', '0.8', datetime.date(2012, 9, 5)], ['1.09', '1.09', 'partial_date', '0.3', None], ['02.09 kell 09.15', '02.09 kell 09.15', 'partial_date', '0.8', datetime.time(9, 15)]], ('text', 'date_text', 'type', 'probability', 'extracted_values'))

In [6]:
# NBVAL_IGNORE_OUTPUT
text['dates']

Layer(name='dates', attributes=('date_text', 'type', 'probability', 'groups', 'extracted_values'), spans=SL[Span('07.07.2011 14:25', [{'date_text': '07.07.2011 14:25', 'type': 'date_time', 'probability': '0.9', 'groups': {'hour': '14', 'DAY': '07', 'minute': '25', 'MONTH': '07', 'YEAR': '2011', 'second': None}, 'extracted_values': datetime.datetime(2011, 7, 7, 14, 25)}]),
Span('28.05', [{'date_text': '28.05', 'type': 'partial_date', 'probability': '0.3', 'groups': {'DAY': '28', 'MONTH': '05'}, 'extracted_values': None}]),
Span('2007a', [{'date_text': '2007a', 'type': 'partial_date', 'probability': '0.8', 'groups': {'LONGYEAR': '2007'}, 'extracted_values': None}]),
Span('11.09.13', [{'date_text': '11.09.13', 'type': 'date', 'probability': '0.8', 'groups': {'DAY': '11', 'YEAR': '13', 'MONTH': '09'}, 'extracted_values': datetime.date(2013, 9, 11)}]),
Span('2009', [{'date_text': '2009', 'type': 'partial_date', 'probability': '0.4', 'groups': {'LONGYEAR': '2009'}, 'extracted_values': None}]),
Span('kl 21.20', [{'date_text': 'kl 21.20', 'type': 'time', 'probability': '1.0', 'groups': {'minute': '20', 'hour': '21', 'second': None}, 'extracted_values': datetime.time(21, 20)}]),
Span('17.09.2013.a. kell 06:09', [{'date_text': '17.09.2013.a. kell 06:09', 'type': 'date_time', 'probability': '1.0', 'groups': {'hour': '06', 'DAY': '17', 'minute': '09', 'MONTH': '09', 'YEAR': '2013', 'second': None}, 'extracted_values': datetime.datetime(2013, 9, 17, 6, 9)}]),
Span('20.04.2013 kell 11.00', [{'date_text': '20.04.2013 kell 11.00', 'type': 'date_time', 'probability': '1.0', 'groups': {'hour': '11', 'DAY': '20', 'minute': '00', 'MONTH': '04', 'YEAR': '2013', 'second': None}, 'extracted_values': datetime.datetime(2013, 4, 20, 11, 0)}]),
Span('4.1.2013', [{'date_text': '4.1.2013', 'type': 'date', 'probability': '0.8', 'groups': {'DAY': '4', 'YEAR': '2013', 'MONTH': '1'}, 'extracted_values': datetime.date(2013, 1, 4)}]),
Span('09.2011', [{'date_text': '09.2011', 'type': 'partial_date', 'probability': '0.6', 'groups': {'MONTH': '09', 'LONGYEAR': '2011'}, 'extracted_values': None}]),
Span('05.09.2012', [{'date_text': '05.09.2012', 'type': 'date', 'probability': '0.8', 'groups': {'DAY': '05', 'YEAR': '2012', 'MONTH': '09'}, 'extracted_values': datetime.date(2012, 9, 5)}]),
Span('1.09', [{'date_text': '1.09', 'type': 'partial_date', 'probability': '0.3', 'groups': {'DAY': '1', 'MONTH': '09'}, 'extracted_values': None}]),
Span('02.09 kell 09.15', [{'date_text': '02.09 kell 09.15', 'type': 'partial_date', 'probability': '0.8', 'groups': {'DAY': '02', 'minute': '15', 'second': None, 'MONTH': '09', 'hour': '09'}, 'extracted_values': datetime.time(9, 15)}])])