## <span style="color:purple"> Text segmentation: Tokens </span>

### General overview

Tagging the tokens means that we determine the start and end position of each token, based on whitespace and/or punctuation. There are many whitespace symbols, out of which spaces, tabs, and newlines occur most frequently. When tokens are tagged on the text, the type of whitespace does not matter, but in later analysis, it may be taken into consideration if there was a whitespace between the tokens or not.

Note that segmenting the text into tokens is the most automic segmentation: in later analysis steps, tokens won't be split anymore, but only joined if necessary (e.g. to create words or phrases).

In the following example, we create a text object with the tokens layer and print out the tokens layer.

In [1]:
from estnltk import Text
from estnltk.taggers import TokensTagger
text = TokensTagger().tag(Text('Mis aias sa-das 3me sorti s-saia?'))
text['tokens']

Layer(name='tokens', attributes=(), spans=SL[Span('Mis', [{}]),
Span('aias', [{}]),
Span('sa', [{}]),
Span('-', [{}]),
Span('das', [{}]),
Span('3me', [{}]),
Span('sorti', [{}]),
Span('s', [{}]),
Span('-', [{}]),
Span('saia', [{}]),
Span('?', [{}])])

Here we have 11 tokens in the text. In order to see the start and end position of each token, execute:

In [2]:
text.tokens[['start','end','text']]

AttributeTupleList([[0, 3, 'Mis'], [4, 8, 'aias'], [9, 11, 'sa'], [11, 12, '-'], [12, 15, 'das'], [16, 19, '3me'], [20, 25, 'sorti'], [26, 27, 's'], [27, 28, '-'], [28, 32, 'saia'], [32, 33, '?']], ('start', 'end', 'text'))

#### Under the hood
 The `TokensTagger` applies NLTK's [WordPunctTokenizer](http://www.nltk.org/api/nltk.tokenize.html#nltk.tokenize.regexp.WordPunctTokenizer) to split the text into tokens. The aim is to produce a tokenization where words ("alphanumeric sequences") are separated from each other, and where punctuation symbols are also separated from words and from each other. However, `WordPunctTokenizer` leaves punctuation symbols unsplit in some cases, and thus, `TokensTagger` applies an additional post-correction step to ensure that all punctuation symbols are split into single tokens. For instance, the string `"(1989.a.)."` is tokenized by  `WordPunctTokenizer` into tokens  `['(', '1989', '.', 'a', '.).']`, and in our post-correction step, it is further split into tokens `['(', '1989', '.', 'a', '.', ')', '.']`.

### Adding new splitting rules with `TokenSplitter`

In some situations, applying `TokensTagger` is not enough and you need to add your own, text- or domain-specific splitting rules. You can use `TokenSplitter` to make additional splits based on regular expression patterns.

In [3]:
from estnltk import Text
from estnltk.taggers import TokenSplitter

# Create an example Text that requires specific token splitting
text = Text('Esimene peatükkKui Arno isaga koolijõudis, olid tunnid juba alanud.')
# Add the tokens layer
text.tag_layer('tokens')
# Browse results
text.tokens

Layer(name='tokens', attributes=(), spans=SL[Span('Esimene', [{}]),
Span('peatükkKui', [{}]),
Span('Arno', [{}]),
Span('isaga', [{}]),
Span('koolijõudis', [{}]),
Span(',', [{}]),
Span('olid', [{}]),
Span('tunnid', [{}]),
Span('juba', [{}]),
Span('alanud', [{}]),
Span('.', [{}])])

Now, create a `TokenSplitter` with spltting patterns. Each pattern must contain a named group ('end'), which marks a substring in the token after which the token will be split into two pieces:

In [4]:
import re
token_splitter = TokenSplitter(patterns=[re.compile(r'(?P<end>peatükk)Kui'),\
                                         re.compile(r'(?P<end>kooli)jõudis') ])

In [5]:
# Apply token splitter on text
token_splitter.retag( text )
# Browse results
text.tokens

Layer(name='tokens', attributes=(), spans=SL[Span('Esimene', [{}]),
Span('peatükk', [{}]),
Span('Kui', [{}]),
Span('Arno', [{}]),
Span('isaga', [{}]),
Span('kooli', [{}]),
Span('jõudis', [{}]),
Span(',', [{}]),
Span('olid', [{}]),
Span('tunnid', [{}]),
Span('juba', [{}]),
Span('alanud', [{}]),
Span('.', [{}])])

---